<div class="component--recipe-detail">

  <!-- Breadbcrumbs -->
  <ol class="breadcrumb">
    <li>
      <a href ui-sref="app.recipes.list">Recipes</a>
    </li>
    <li class="active" ng-bind-html="recipe.name"></li>
  </ol>

  <!-- Name -->
  <h2 class="text-center" ng-bind-html="recipe.name"></h2>

  <!-- Description -->
  <p ng-bind-html="recipe.description" ng-if="recipe.description"></p>

  <!-- Ingredients -->
  <h3 class="mhm">Ingredients <span class="label label-default pull-right" ng-bind="totalFoods"></span></h3>
  <ul class="ingredients-list">
    <li ng-repeat="ingredient in recipeIngredients">
      <span ng-bind-html="ingredient"></span>
    </li>
  </ul>

  <!-- Instructions -->
  <h3 class="mhm" ng-if="recipe.instructions">Instructions</h3>
  <div class="instructions" ng-bind-html="recipe.instructions" ng-if="recipe.instructions"></div>

</div>