{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="site">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>neopantry</title>
  <link rel="stylesheet" href="{% static 'bootswatch/lumen/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'angular-bootstrap/ui-bootstrap-csp.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body ng-controller="MainController">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="navigationService.toggleNavigation()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" ui-sref="site.home">neopantry</a>
    </div>
    <div id="navbar-content" class="collapse navbar-collapse" uib-collapse="!navigationService.isNavigationOpen()">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: $state.is('site.home')}">
          <a ui-sref="site.home">Home</a>
        </li>
        <li ng-class="{active: $state.is('site.tour')}">
          <a ui-sref="site.tour">Tour</a>
        </li>
        <li ng-class="{active: $state.is('site.pricing')}">
          <a ui-sref="site.pricing">Pricing</a>
        </li>
        <li ng-class="{active: $state.is('site.contact')}">
          <a ui-sref="site.contact">Contact</a>
        </li>
        <li ng-if="!hasUser">
          <a href ng-click="openLogIn()">Log in</a>
        </li>
        <li ng-if="!hasUser">
          <button class="btn btn-primary navbar-btn" ng-click="openSignUp()">Get started</button>
        </li>
        <li ng-if="hasUser">
          <a href ng-click="logOut()">Log out</a>
        </li>
        <li ng-if="hasUser">
          <button class="btn btn-primary navbar-btn" ng-click="viewRecipes()">View recipes</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div ui-view></div>
</div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
<script src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
<script src="{% static 'lodash/lodash.min.js' %}"></script>
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'site-scripts.js' %}"></script>
</body>
</html>