<div class="component--recipe-list">
  <h2 class="text-center">Recipes</h2>
  <p class="text-center" ng-if="isRecipeName()">
    {{ totalRecipes }} total recipes
  </p>
  <p class="text-center" ng-if="isIngredients()">
    <a href ui-sref="app.recipes.match_list">
      <ng-pluralize count="matchingRecipes.length" when="{
        '0': 'No matching recipes',
        'one': '1 matching recipe',
        'other': '{} matching recipes'
      }"></ng-pluralize>
    </a>
  </p>

  <!-- Recipe name search -->
  <div class="input-group" ng-if="isRecipeName()">
    <!-- TODO: Remove ng-keypress="onKeyPressed($event)"? -->
    <input class="form-control"
           type="text"
           placeholder="Enter recipe name..."
           ng-model="recipe"
           typeahead-min-length="2"
           uib-typeahead="recipe as recipe.name for recipe in recipes | filter: {name: $viewValue} | limitTo: 10">
    <span class="input-group-btn">
      <div x-recipe-search-filter class="btn-group" uib-dropdown></div>
      <a class="btn btn-default" href ui-sref="app.recipes.detail({recipeId: recipe.id})">
        <span class="glyphicon glyphicon-search"></span>
      </a>
    </span>
  </div>

  <!-- Ingredients search -->
  <div x-dynamic-list
       data-collection="getFoods()"
       data-elements="getSelectedFoods()"
       data-add-fn="addSelectedFood(element)"
       data-remove-fn="removeSelectedFood(element)"
       data-placeholder="Enter a food..."
       data-button="Add food"
       ng-if="isIngredients()"></div>

</div>